ext/*/Makefile
ext/*/conftest.dSYM/*
ext/*/*.log
ext/*/*.o
ext/*/*.bundle
ext/*/*.obj
ext/*/*mswin32*
ext/*/vc60.pdb
ext/*/*.so
lib/*.bundle
lib/*.so
test/*.o
test/*_test
log
spec/rails_app/log
doc/rdoc/*
tmp/*
pkg/*
nbproject/*
.DS_Store

